In [ ]:
# direct referencing.

a = [1, 2, 3]
b = a

print(id(a))
print(id(b))

In [ ]:
class student():
    def __init__(self, new_name: str, new_id: str):
        self.name = new_name
        self.id = new_id

stu1 = student("myo", "2026001")
stu2 = student("myo", "2026001")

print(stu1==stu2)

print(id(stu1))
print(id(stu2))

print(stu1)

False
4476745248
4474961296
<__main__.student object at 0x10ad5b620>

In [ ]:
from dataclasses import dataclass

@dataclass
class student:
    name:str
    id: str

stu1 = student("Myo", "2026001")
stu2 = student("Myo", "2026001")
print(stu1)

print(stu1==stu2)

student(name='Myo', id='2026001')
True

In [ ]:
from dataclasses import dataclass

@dataclass
class student:
    name:str = "MMDT"
    id: str = "2026000"

s = student()
print(s)

student(name='MMDT', id='2026000')

In [ ]:
from dataclasses import dataclass, field

@dataclass
class student:
    name: str = "MMDT"
    id: str = "2026000"
    pw: str= field(default = "@@@mmdt", repr = False)

stu = student()
print(stu)

student(name='MMDT', id='2026000')

field() for advanced defaults and options
4.1 Mutable defaults (lists/dicts/sets)

In [ ]:
from dataclasses import dataclass

@dataclass
class student:
    name:str
    id: str = "2026000"

In [ ]:
@dataclass
class Student:
    name: str
    id: str = "2026000"
    subjects: list = field(default_factory=list)

s1 = Student("A")
s2 = Student("B")

s1.subjects.append("math")
print(s1)
print(s2)

Student(name='A', id='2026000', subjects=['math'])
Student(name='B', id='2026000', subjects=[])